.loginpanel{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #a4cee6;
	padding: 5px;	
	background-image: url(login-back.jpg);
	background-repeat: no-repeat;
	background-position: -60px -60px;
	color:navy;
	direction:ltr;
	text-align:left;
}
#loginInner{
	background-image: url(security.gif);
	padding-top: 75px;
	background-repeat: no-repeat;
	background-position: right top;
}
.error{
	padding: 5px;
	color: black;
	border: 1px solid #a0522d;
	background-color: #f0d5ca;
	margin: 5px 0px;
}
label{
	display: block;
}
#rmme_row label
{
    display:inline;
}
#username_row, #password_row{
	margin-bottom: 10px;
}
#button_row a{
	text-decoration: none;
	color: blue;
	display: block;
	margin-top: 10px;
}
#button_row a:hover{
	color: red;
}